django==2.2.7
psycopg2-binary==2.8.4
django-crispy-forms==1.8.0
django-allauth==0.40.0
pillow==6.2.1 # Imaging Library
stripe==2.32.0 # Payment Library
django-debug-toolbar==2.0
whitenoise==4.1.4 # Static Files
gunicorn==19.9.0 # WSGI (Web Server Gateway Interface)
dj-database-url==0.5.0 # Database url django utility
djangorestframework==3.12.4

# code style and lint
pre-commit==2.13.0
flake8==3.9.2
black==21.6b0
isort==5.9.1
